/* Apartat section: activitats*/
*{
    transition: 0.5s;
}
#activitats{
    width: 198rem;
    height: auto;
    padding: 5rem 0px 10rem 0px;
    
}

#conjuntactivitats{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
}


#conjuntactivitats h2 {
    padding-bottom: 1rem;
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    text-decoration:underline;
    text-align: justify;
    color: #B11F00;
    align-self: center;
    padding-bottom: 2rem;
}

#conjuntactivitats h2:nth-of-type(2){
    padding-top: 15rem;
}

.activitats-colectives{
    width: 160rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-self: center;
    padding-top: 2rem;
}

.activitats-lliures{
    width: 160rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-self: center;
    padding-top: 2rem;
}

.activitat {
    width: auto;
    height: auto;
    margin: 1rem 5rem 4rem 5rem;
    color: #000000;
    
}

.activitat:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

.activitat p {
    font-size: 2.5rem;
    font-family: "Oswald", sans-serif;
    color: #000000;
}

.activitat img {
    width: 18rem;
    color: #B11F00;
}

.reservarbtn {
    display: none;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: #B11F00;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
}

.activitat:hover .reservarbtn {
    display: block;
}

.separadorimgp{
    padding: 1rem;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid #B11F00;
    box-shadow: 4px 1rem #B11F00;
}

.separadorbtn{
    padding-bottom: 1rem;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}





/*******************/
/*** MEDIA QUERY ***/
/*******************/


/* MQ Mòvil */
@media only screen and (max-width: 480px){
    #activitats{
        width: 100%;
        height: auto;
    }

    #conjuntactivitats {
        width: 100%;
        height: auto;
        flex-direction: row;
    }

    .activitats-colectives {
        width: auto;
        height: auto;
    }

    .activitat {
        width: 40%;
        text-align: center;
        margin: 2rem;
    }

    .activitat img {
        width: 90%;
    }
}





/* MQ Tablet */
@media only screen and (min-width: 481px) and (max-width:990px){
    
}