/* Section - Grupo */
#grupo{
    width: auto;
    height: auto;
    display: flex;
    background-image: url(../img/background/bg-rallado.png);
    background-position: center;
    background-repeat: repeat;
    justify-content: space-evenly;
}

#grupo img{
    padding: 3.8rem 11rem 3.8rem 11rem;
}




/* Section - La banda */
#la_banda{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background-image: url(../img/background/bg-rallado.png);
    background-position: center;
    background-repeat: repeat;
    justify-content: space-evenly;
    padding: 8.2rem 30rem 8.2rem 30rem;
    row-gap: 8.2rem;
}

#la_banda h2{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-weight: 100;
    font-size: 6.4rem;
    color: #ff9900;
}

#miembros{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 6.4rem;
    flex-wrap: wrap;
}

.miembro{
    width: auto;
    display: flex;
    flex-direction: column;
    border-radius: 1.6rem;
    background-color: #141418;
    align-items: center;
    gap: 1.6rem;
    padding-bottom: 2.4rem;
}

.datos_miembro{
    width: auto; 
    height: auto;
}

.datos_miembro img{
    width: 35rem; 
    height: 35rem;
    object-fit: cover; 
}

.foto_miembro{
    width: 100%; 
    height: 100%;
    border-radius: 1.6rem 1.6rem 0 0;
}

.nombre_miembro{
    color: white;
    font-size: 2.4rem;
    font-family: 'Bebas Neue';
}

.funcion{
    font-size: 1.5rem;
    font-family: 'Roboto';
    color: #ffffff;
    text-transform: uppercase;
}