/* Apartat section: horari */
.horari {
    width: 198rem;
    height: auto;
    padding: 5rem 2rem;
}

.horari h2 {
    font-size: 4rem;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #B11F00;
    text-align: center;
    padding-bottom: 2rem;
}

table {
    margin: 0 auto;
    width: auto;
    border-radius: 1.5rem;
    border: 1px solid #B11F00;
    box-shadow: 4px 10px #B11F00;
}

th {
    background-color: #B11F00;
    color: white;
    padding: 10px;
    border-radius: 1.5rem;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
}

td {
    background-color: white;
    text-align: center;
    padding: 5px;
    border-radius: 1.5rem;
    width: 30rem;
    height: 9rem;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
}

td div p a {
    display: none;
}

td div:hover p a {
    display: block;
    background-color: #B11F00;
    border-radius: 5rem;
    padding: 8px 1.5rem;
    color: white;
    text-decoration: none;
}

/* Apartat section: preguntes-frequents
   aquest está al estils.css ja que forma part de la pagina principal
 */





/*******************/
/*** MEDIA QUERY ***/
/*******************/


/* MQ Mòvil */
@media only screen and (max-width: 480px) {

    /* Apartat horari*/
    .horari {
        width: 100%;
        padding-bottom: 1rem;
    }

    .horari h2 {
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }

    table {
        width: 100%;
        border: 1px solid #717171;
        box-shadow: 3px 3px #B11F00;
    }

    th {
        padding: 5px;
        font-size: 1.8rem;
    }

    td {
        padding: 0px;
        font-size: 1.6rem;
        width: auto;
        height: auto;
    }

    td div p a {
        display: none;
    }

    td div:hover p a {
        display: block;
        padding: 5px;
        font-size: 1.6rem;
    }

    .navegacion {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .navegacion button {
        padding: 5px;
        background-color: #B11F00;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.6rem;
    }





    /* Apartat colorsActivitat*/
    #preguntes-frequents {
        width: 100%;
    }


    #totelcontingut {
        width: 100%;
        height: auto;
        padding: 0 1.5rem;
    }
}





/* MQ Tablet */
@media only screen and (min-width: 481px) and (max-width:990px) {

    /* Apartat horari*/
    .horari {
        width: 100%;
        padding-bottom: 1rem;
    }

    .horari h2 {
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }

    table {
        width: 100%;
        border: 1px solid #717171;
        box-shadow: 3px 3px #B11F00;
    }

    th {
        padding: 5px;
        font-size: 1.8rem;
    }

    td {
        padding: 8px;
        font-size: 1.6rem;
        width: auto;
        height: auto;
    }

    td div p a {
        display: none;
    }

    td div:hover p a {
        display: block;
        padding: 5px;
        font-size: 1.6rem;
    }

    .navegacion {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .navegacion button {
        padding: 5px;
        background-color: #B11F00;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.6rem;
    }





    /* Apartat colorsActivitat*/
    #preguntes-frequents {
        width: 100%;
    }


    #totelcontingut {
        width: 100%;
        height: auto;
        padding: 0 1.5rem;
    }
}