/* Apartat section: horari */
.horari {
    width: 1980px;
    height: auto;
    padding: 50px 20px;
}

.horari h2 {
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #B11F00;
    text-align: center;
}

table {
    margin: 0 auto;
    width: auto;
    border-radius: 15px;
    border: 1px solid #B11F00;
    box-shadow: 4px 10px #B11F00;
}

th {
    background-color: #B11F00;
    color: white;
    padding: 10px;
    border-radius: 15px;
    font-family: "Oswald", sans-serif;
}

td {
    background-color: white;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    width: 300px;
    height: 60px;
    font-family: "Oswald", sans-serif;
}

td div p a {
    display: none;
}

td div:hover p a {
    display: block;
    background-color: #B11F00;
    border-radius: 5rem;
    padding: 8px 15px;
    color: white;
    text-decoration: none;
}

/* Apartat section: preguntes-frequents
   aquest está al estils.css ja que forma part de la pagina principal */
